<html>
<head>
	<meta charset="utf-8">
    <title>Shippet - Marine Tracker</title>

	<!-- Leaflet CSS file -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

	<!-- Leaflet Javascript file -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

	<link rel="stylesheet" href="css/index.css" />

	<!-- Include meta tag to ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Include the jQuery library -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Include AngularJS -->
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/d3.js"></script>
	<script type="text/javascript" src="src/app.js"></script>
	<script type="text/javascript" src="src/lonjacharts.js"></script>
	<script type="text/javascript" src="src/piechart.js"></script>
	<script type="text/javascript" src="src/vesselMap.js"></script>
	<script type="text/javascript" src="src/evolutionChart.js"></script>
	<script type="text/javascript" src="src/distanceChart.js"></script>
	<script type="text/javascript" src="src/gapminder.js"></script>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body ng-app="app">
	<div ng-controller="MainController as MainCtrl">
		<nav class="navbar navbar-default" style="z-index:4">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a ng-click="site = 1" class="navbar-brand" href="#">Shippet</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li ng-class="{ 'active': site == 1 }" ng-click="site = 1"><a href="#">Map   <span class="fa fa-home"></span></a></li>
		        <li ng-class="{ 'active': site == 2 }" ng-click="site = 2"><a href="">Where to go?</a></li>
		        <li ng-class="{ 'active': site == 3 }" ng-click="site = 3"><a href="">Price Evolution</a></li>
		        <li ng-class="{ 'active': site == 4 }" ng-click="site = 4"><a href="">Data Cinema</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div ng-show="site==1">
			<div ng-controller="LonjaChartController as lonjaCtrl" id="d3elems" style="margin-left:51%;margin-top:-1%;position:absolute; height:80%">
				<ul style="widht:60%" class="nav nav-pills">
					<li class="dropdown">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					      Measure <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
							<li>
								<a href="#" ng-show="measure === 'EKG'" ng-click="measure='KG'">Kg</a>
								<a href="#" ng-show="measure === 'KG'" ng-click="measure='EKG'">€/Kg</a>
							</li>
					    </ul>
					</li>
		           	<li class="dropdown">
					    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
					      Year <span class="caret"></span>
					    </a>
					    <ul class="dropdown-menu">
							<li ng-repeat="year in years"
							ng-class="{ 'active': $index == selectedIndex }"
							ng-click="itemClicked($index)">
								<a href="#">{{year}}</a>
							</li>
					    </ul>
					</li>
					<li>
						<a href="#" ng-show="dataTime==='m'" ng-click="changeTime('y')">Back</a>
		           	</li>
		           	<h1 class="lead" style="margin-left:80%; display:block; position:absolute">
		           		<span  ng-show="dataTime==='m'"> {{yearToShow}}  </span>  
		           		<span ng-if="measure == 'KG'">(kg)</span>
		           		<span ng-if="measure=='EKG'">(€/kg)</span> </h1>
				</ul>
				<br>
				<div id="chart">
					<div id="chartYear" ng-show="dataTime === 'y'">
						<!-- Chart with market products measured by price mean over the last years -->
						<lonja-chart data="yearData" measure='EKG' ng-show="measure === 'EKG'"></lonja-chart>
						<!-- Chart with market products measured by volume sold over the last years -->
						<lonja-chart data="yearData" measure='KG' ng-show="measure === 'KG'"></lonja-chart>
					</div>
					<div id="chartMonth" ng-show="dataTime === 'm'">
						<!-- Chart with market products measured by price mean over the last months -->
						<lonja-chart-month data="monthData" year="yearToShow" measure='EKG' ng-show="measure === 'EKG'"></lonja-chart-month>
						<!-- Chart with market products measured by volume sold over the last months -->
						<lonja-chart-month data="monthData" year="yearToShow" measure='KG' ng-show="measure === 'KG'"></lonja-chart-month>
					</div>
				</div>
			</div>
			<div ng-controller="VesselMapController as vesselMapCtrl">
				<div>
					<vessel-map data="shipsData" id="map" style="position:absolute;margin-top:-2%;float:left;height: 94%; width: 50%;" latitude="38.141037" icon="img/vessel.png" longitude="-0.373535" altitude="10"></vessel-map>
				</div>
				<div>
					<div style="margin-left:25%" id="pie">
						<pie-chart data="vesselProductData" ship="ship">
					</div>
				</div>
			</div>	
				
	    </div>
	    <div ng-show="site == 2">
	    	<div ng-controller="DistanceChartController as DistanceChartCtrl">
				<h1 style="margin-bottom:-1%; text-align:center; font-size:65px" class="lead" >Distance chart</h1>
				<h1 style="margin-bottom:-1%; color:#585656; text-align:center;" class="lead" >Select the product you wish to check and the day of your visit.</h1>
				<br>
				<div style="text-align:center">
					<h3 class="lead" <span style="color:#C0392B">Red </span> <span style="color:#585656">Low availability - </span><span style="color:#F1C40F">Yellow </span> <span style="color:#585656">Medium availability - </span><span style="color:#2ECC71">Green </span> <span style="color:#585656">High availability</span></h3>
				</div>
				<div style="margin-left:42%;width: 30%;padding: 10px;">
					<ul style="width:auto; margin-top:1%;" class="nav nav-pills">
						<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      Product <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="product in products"
									ng-class="{ 'active': $index == selectedProductIndex }"
									ng-click="productClicked($index)">
									<a href="#">{{product}}</a>
								</li>
						    </ul>
						</li>
			           	<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      Day <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="day in days"
									ng-class="{ 'active': $index == selectedDayIndex }"
									ng-click="dayClicked($index)">
									<a href="#">{{day}}</a>
								</li>
						    </ul>
						</li>
					</ul>
				</div>
				<div style="text-align:center">
					<distance-chart day="selectedDay" product="selectedProduct" data="distanceData"></distance-chart>
				</div>
			</div>
	    </div>
	    <div ng-show="site == 3">
			<div ng-controller="ProductsDataController as ProductsDataCtrl">
				<h1 style="margin-bottom:-1%; text-align:center; font-size:65px" class="lead" >Price Evolution</h1>
				<h1 style="margin-bottom:-1%; color:#585656; text-align:center;" class="lead" >Check products price evolution through the years. You can even check each year info.</h1>
				<br>
				<div style="text-align:center">
					<h3 class="lead" <span style="color:#C0392B">Red line </span> <span style="color:#585656">defines the price evolution on the overall products</h3>
				</div>
				<div  style="margin-left:45%;width: 30%;padding: 10px;">
					<ul style="widht:60%; text-align:center" class="nav nav-pills">
						<li ng-class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      Year <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="year in years"
								ng-class="{ 'active': $index == selectedIndex }"
								ng-click="itemClicked($index)">
									<a href="#">{{year}}</a>
								</li>
						    </ul>
						</li>
						<li>
							<a href="#" ng-show="dataTime==='m'" ng-click="changeTime('y')">Back</a>
			           	</li>
			        </ul>
			    </div>
	           	<h1 class="lead" ng-show="dataTime==='m'" style="margin-left:80%; display:block; position:absolute"> {{yearToShow}} </h1>
				<div style="text-align:center">
					<div id="evolutionYear" ng-show="dataTime === 'y'">
						<evolution-chart-year data="productsYear"></evolution-chart>
					</div>
					<div id="evolutionMonth" ng-show="dataTime === 'm'">
						<evolution-chart-month year="yearToShow" data="productsMonth"></evolution-chart>
					</div>
				</div>
			</div>
	    </div>
	    <div ng-show="site == 4">
	    	<div ng-controller="GapminderController as GapminderCtrl">
				<h1 style="margin-bottom:-1%; text-align:center; font-size:65px" class="lead" >General Data Chart</h1>
				<h1 style="margin-bottom:-1%; color:#585656; text-align:center;" class="lead" >Select the axis where you want the data to be shown.</h1>
				<br>
				<div style="margin-left:37%;width: 30%;padding: 10px;">
					<ul style="width:auto; margin-top:1%;" class="nav nav-pills">
						<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      X Axis <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="measure in xMeasure"
									ng-class="{ 'active': $index == selectedXIndex }"
									ng-click="xMeasureClicked($index)">
									<a href="#">{{measure}}</a>
								</li>
						    </ul>
						</li>
			           	<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      Y Axis <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="measure in yMeasure"
									ng-class="{ 'active': $index == selectedYIndex }"
									ng-click="yMeasureClicked($index)">
									<a href="#">{{measure}}</a>
								</li>
						    </ul>
						</li>
						<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      Bubble <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="measure in vMeasure"
									ng-class="{ 'active': $index == selectedVIndex }"
									ng-click="vMeasureClicked($index)">
									<a href="#">{{measure}}</a>
								</li>
						    </ul>
						</li>
						<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						      Year <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
								<li ng-repeat="year in years"
									ng-class="{ 'active': $index == selectedYearIndex }"
									ng-click="yearClicked($index)">
									<a href="#">{{year}}</a>
								</li>
						    </ul>
						</li>
					</ul>
					<div style="float:left;text-align:center;">
						<a ng-hide="playing || selectedYear == ''" ng-click="play()" href="#" class="btn btn-primary">Play</a>
						<a ng-hide="selectedYear == '' || !playing" ng-click="pause()" href="#" class="btn btn-primary">Pause</a>
					</div>
					<div style="float:right;text-align:center;">
						<a ng-hide="chartType=='S' || selectedYear == ''"  ng-click="chartType = 'S';data=shipsData" href="#" class="btn btn-warning">Ships Data</a>
						<a ng-hide="chartType == 'P' || selectedYear == ''" ng-click="chartType = 'P';data=lonjaData" href="#" class="btn btn-warning">Products Data</a>
					</div>
				</div>
				<h1 class="lead" ng-show="selectedYear != ''" style="margin-left:80%; display:block; position:absolute"> {{selectedYear}} </h1>
				<div style="text-align:center">
					<gapminder data="data" playing="playing" xmeasure="selectedX" ymeasure="selectedY" vmeasure="selectedV" year="selectedYear"></gapminder>
				</div>
			</div>
	    </div>
	</div>
</body>
</html>